In [1]:
import pandas as pd

In [12]:
amazonData = pd.read_csv("amazon_prime_titles.csv")
amazonData = amazonData[["title","listed_in","cast","description"]]
amazonData.columns = ["title", "genre", "cast", "plot"]
amazonData

,title,genre,cast,plot
0,The Grand Seduction,"Comedy, Drama","Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",A small fishing village must procure a local d...
1,Take Care Good Night,"Drama, International","Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",A Metro Family decides to fight a Cyber Crimin...
2,Secrets of Deception,"Action, Drama, Suspense","Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",After a man discovers his wife is cheating on ...
3,Pink: Staying True,Documentary,"Interviews with: Pink, Adele, Beyoncé, Britney...","Pink breaks the mold once again, bringing her ..."
4,Monster Maker,"Drama, Fantasy","Harry Dean Stanton, Kieran O'Brien, George Cos...",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...
9663,Pride Of The Bowery,Comedy,"Leo Gorcey, Bobby Jordan",New York City street principles get an East Si...
9664,Planet Patrol,TV Shows,"DICK VOSBURGH, RONNIE STEVENS, LIBBY MORRIS, M...","This is Earth, 2100AD - and these are the adve..."
9665,Outpost,Action,"Ray Stevenson, Julian Wadham, Richard Brake, M...","In war-torn Eastern Europe, a world-weary grou..."
9666,Maradona: Blessed Dream,"Drama, Sports","Esteban Recagno, Ezequiel Stremiz, Luciano Vit...","The series tells the story of Diego Maradona, ..."
9667,Harry Brown,"Action, Drama, Suspense","Michael Caine, Emily Mortimer, Joseph Gilgun, ...","Harry Brown, starring two-time Academy Award w..."

In [41]:
netflixData = pd.read_csv("netflix_titles.csv")
netflixData = netflixData[["title","listed_in","cast","description"]]
netflixData.columns = ["title", "genre", "cast", "plot"]
netflixData.iloc[8616]

title                                        Transcendence
genre                          Sci-Fi & Fantasy, Thrillers
cast     Johnny Depp, Rebecca Hall, Morgan Freeman, Pau...
plot     Two computer scientists work to achieve techno...
Name: 8616, dtype: object

In [21]:
huluData = pd.read_csv("hulu_titles.csv")
huluData = huluData[["title","listed_in","description"]]
huluData.columns = ["title", "genre", "plot"]
huluData

,title,genre,plot
0,Ricky Velez: Here's Everything,"Comedy, Stand Up",​Comedian Ricky Velez bares it all with his ho...
1,Silent Night,"Crime, Drama, Thriller","Mark, a low end South London hitman recently r..."
2,The Marksman,"Action, Thriller",A hardened Arizona rancher tries to protect an...
3,Gaia,Horror,A forest ranger and two survivalists with a cu...
4,Settlers,"Science Fiction, Thriller",Mankind's earliest settlers on the Martian fro...
...,...,...,...
3068,Star Trek: The Original Series,"Action, Adventure, Classics",The 23rd century adventures of Captain James T...
3069,Star Trek: Voyager,"Action, Adventure, Science Fiction",Catapulted into the distant sector of the gala...
3070,The Fades,"Horror, International, Science Fiction",Seventeen-year-old Paul is haunted by apocalyp...
3071,The Twilight Zone,"Classics, Science Fiction, Thriller",Rod Serling's seminal anthology series focused...
3072,Tokyo Magnitude 8.0,"Anime, Drama, International",The devastation is unleashed in the span of se...

In [22]:
disneyData = pd.read_csv("disney_plus_titles.csv")
disneyData = disneyData[["title","listed_in","cast","description"]]
disneyData.columns = ["title", "genre", "cast", "plot"]
disneyData

,title,genre,cast,plot
0,Duck the Halls: A Mickey Mouse Christmas Special,"Animation, Family","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",Join Mickey and the gang as they duck the halls!
1,Ernest Saves Christmas,Comedy,"Jim Varney, Noelle Parker, Douglas Seale",Santa Claus passes his magic bag to a new St. ...
2,Ice Age: A Mammoth Christmas,"Animation, Comedy, Family","Raymond Albert Romano, John Leguizamo, Denis L...",Sid the Sloth is on Santa's naughty list.
3,The Queen Family Singalong,Musical,"Darren Criss, Adam Lambert, Derek Hough, Alexa...","This is real life, not just fantasy!"
4,The Beatles: Get Back,"Docuseries, Historical, Music","John Lennon, Paul McCartney, George Harrison, ...",A three-part documentary from Peter Jackson ca...
...,...,...,...,...
1445,X-Men Origins: Wolverine,"Action-Adventure, Family, Science Fiction","Hugh Jackman, Liev Schreiber, Danny Huston, wi...",Wolverine unites with legendary X-Men to fight...
1446,Night at the Museum: Battle of the Smithsonian,"Action-Adventure, Comedy, Family","Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",Larry Daley returns to rescue some old friends...
1447,Eddie the Eagle,"Biographical, Comedy, Drama","Tom Costello, Jo Hartley, Keith Allen, Dickon ...","True story of Eddie Edwards, a British ski-jum..."
1448,Bend It Like Beckham,"Buddy, Comedy, Coming of Age","Parminder Nagra, Keira Knightley, Jonathan Rhy...",Despite the wishes of their traditional famili...
1449,Captain Sparky vs. The Flying Saucers,"Action-Adventure, Animals & Nature, Animation",Charlie Tahan,View one of Sparky's favorite home movies.

In [23]:
allData = pd.concat([amazonData, netflixData, huluData, disneyData], ignore_index=True)
allData

,title,genre,cast,plot
0,The Grand Seduction,"Comedy, Drama","Brendan Gleeson, Taylor Kitsch, Gordon Pinsent",A small fishing village must procure a local d...
1,Take Care Good Night,"Drama, International","Mahesh Manjrekar, Abhay Mahajan, Sachin Khedekar",A Metro Family decides to fight a Cyber Crimin...
2,Secrets of Deception,"Action, Drama, Suspense","Tom Sizemore, Lorenzo Lamas, Robert LaSardo, R...",After a man discovers his wife is cheating on ...
3,Pink: Staying True,Documentary,"Interviews with: Pink, Adele, Beyoncé, Britney...","Pink breaks the mold once again, bringing her ..."
4,Monster Maker,"Drama, Fantasy","Harry Dean Stanton, Kieran O'Brien, George Cos...",Teenage Matt Banting wants to work with a famo...
...,...,...,...,...
22993,X-Men Origins: Wolverine,"Action-Adventure, Family, Science Fiction","Hugh Jackman, Liev Schreiber, Danny Huston, wi...",Wolverine unites with legendary X-Men to fight...
22994,Night at the Museum: Battle of the Smithsonian,"Action-Adventure, Comedy, Family","Ben Stiller, Amy Adams, Owen Wilson, Hank Azar...",Larry Daley returns to rescue some old friends...
22995,Eddie the Eagle,"Biographical, Comedy, Drama","Tom Costello, Jo Hartley, Keith Allen, Dickon ...","True story of Eddie Edwards, a British ski-jum..."
22996,Bend It Like Beckham,"Buddy, Comedy, Coming of Age","Parminder Nagra, Keira Knightley, Jonathan Rhy...",Despite the wishes of their traditional famili...
22997,Captain Sparky vs. The Flying Saucers,"Action-Adventure, Animals & Nature, Animation",Charlie Tahan,View one of Sparky's favorite home movies.

In [24]:
allData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   22998 non-null  object
 1   genre   22998 non-null  object
 2   cast    17677 non-null  object
 3   plot    22994 non-null  object
dtypes: object(4)
memory usage: 718.8+ KB

In [34]:
def movie_text(m):
    return f"{m['title']} | {', '.join(m['genre'])} | Cast: {', '.join(m['cast'][:5])} | {m['plot']}"

In [35]:
corpus = [movie_text(m) for i,m in netflixData.iterrows()]

TypeError: 'float' object is not subscriptable

In [38]:
for i,m in netflixData.iterrows():
    if type(m['cast']) == float:
        print(m['cast'])

nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan
nan

In [39]:
netflixData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   8807 non-null   object
 1   genre   8807 non-null   object
 2   cast    7982 non-null   object
 3   plot    8807 non-null   object
dtypes: object(4)
memory usage: 275.3+ KB

In [40]:
netflixData['cast'].fillna('Unknown')

0                                                 Unknown
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                 Unknown
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                              Unknown
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object